.App {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(192, 188, 176);
  text-align: center;
  align-content: center;
}
.card-header{
  background-color:#cf1219;
  width: 100vw;
  text-align: center;
}
.card-header>h1{
  width: 100vw;
  text-align: center;
  align-items: center;
  align-content: center;
  font-family: 'Marvel', sans-serif;
  color: aliceblue;
  font-weight: 900;
  font-size: 40px;
}


@media screen and (max-width: 600px){
  .card-header>h1{
    font-size: 60%;
  }


}